body {
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1450px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    width: 1080px;
}

.hero {
    background-color: #1F2937;
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.link-box {
    display: flex;
    background-color: #1F2937;
}

.link {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    margin: 30px;
}

.hero-wrapper2 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1080px;
    height: 480px;
}
.awesome {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 48px;
    height: 240px;
    width: 50%;
    font-weight: 800;
}
.image {
    background-color: #686c71;
    color: #f9faf8;
    font-size: 12px;
    height: 240px;
    font-weight: 800;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    background-color: #f9faf8;
    font-size: 24px;
    width: 100%;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    width:  100%;
    justify-content: center;
}
.info-info {
    display: flex;
    flex-direction: row;
}
.info-box {
    width: 240px;
    height: 340px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}
.info-text {
    width: 200px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.quote {
    background-color: #e5e7eb;
    width: 100%;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    width: 860px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.quote-text-from {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    font-style:normal;
}
.call {
    width: 100%;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
    height: 360px;
    display: flex;
}
.call-box {
    width: 1080px;
    background-color: #3882F6;
    border: 4px solid #3882F6;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.call-to-action {
    width: 500px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 200px;
}
.call-button {
    height: 50px;
    background-color: #3882F6;
    border: 5px solid #E5E7EB;
    border-radius: 10px;
    font: 500;
    height: 32px;
    min-width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #E5E7EB;
    font-weight: 800;
}
.foot1 {
    width: 1080px;
    height: 120px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}