* {
    border: 1px solid red;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: white;
    width: 1450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}